.mainSlider .swiper-pagination-bullets {
  bottom: 1rem;
}
.mainSlider .swiper-pagination-bullet,
.productSlider .swiper-pagination-bullet {
  background: #000;
}

.productSlider .swiper-button-prev::after {
  font-size: 2rem;
}

.productSlider .swiper-button-prev::after,
.productSlider .swiper-button-next::after {
  font-size: 2rem;
  color: #000;
  padding: 2rem;
  width: 200px;
}

.productSlider .swiper-pagination {
  position: relative;
  margin-top: 20px;
}
